<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Results</title>

</head>

<body class="home">

    <div class="container">

        <div class="flex-container">
            <div>
                <a href="/vehicles/home">Home</a>
                <a href="/myvehicles">My Routes</a>
                <a href="/vehicles/add">Request Pickup</a>
                <a href="/logout">Log Out</a>
            </div>
        </div>

        <h2>Open Pickups:</h2>
        <div class="container">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>City</th>
                        <th>Car</th>
                        <th>License Plate</th>
                        <th>Options</th>
                    </tr>
                </thead>
                <tbody>
                    {% for vehicle in vehicles: %}
                    <tr>
                        <td>{{vehicle.city}}</td>
                        <td>{{vehicle.year}} {{vehicle.model}}</td>
                        <td>{{vehicle.license}}</td>

                        <td>
                            <!--edit and delete conditional-->
                            {% if vehicle.user.id == user.id: %}
                            <a href="/vehicles/edit/{{vehicle.id}}">edit</a>
                            <a href="/vehicles/{{vehicle.id}}">view</a>
                            <a href="/vehicles/delete/{{vehicle.id}}">delete</a>
                            {% endif %}
                            {% if vehicle.user.id != user.id %}
                            <a href="/vehicles/{{vehicle.id}}">view</a>
                            {% endif %}
                            
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <img src="{{ user_image }}">
    </div>

</body>

</html>